:root {
    --electric-indigo: #5906f2;
    --dark-purple: #0D0221;
    --fluorescent-cyan: #0BF2EA;
    --jonquil: #F9C80E;
    --rose: #FF007F;
    --deep-space-sparkle: #4A4E69;
    --french-sky-blue: #4FC3F7;
    --mint-cream: #F5FFFA;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--mint-cream);
    background-color: var(--dark-purple);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    background-color: var(--jonquil);
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 64px;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--dark-purple);
    letter-spacing: 2px;
}

#centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

#centered-content h2 {
    background-color: var(--electric-indigo);
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 32px;
    font-size: 24px;
    color: var(--mint-cream);
    text-shadow: 2px 2px var(--deep-space-sparkle);
    animation: fadeIn 2s;
}

#image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 16px;
    width: 60%; /* Adjust the width to center the grid */
    max-width: 800px;
    padding: 16px;
    background-color: var(--deep-space-sparkle);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.caption-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, border 0.3s;
}

.caption-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.caption-image h3 {
    margin-top: 8px;
    color: var(--french-sky-blue);
    font-size: 20px;
}

.caption-image:hover {
    transform: scale(1.05);
    border: 3px solid var(--rose);
}

#horoscope {
    display: none;
    background-color: var(--mint-cream);
    color: var(--dark-purple);
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s;
}

#horoscope h2 {
    background-color: var(--electric-indigo);
    color: var(--mint-cream);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    padding: 10px 4px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

#horoscope ul {
    padding: 12px;
    list-style-type: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
